.NotFound {
	height: 100vh;
	background: url(https://images.unsplash.com/photo-1650692201357-3b1b15469952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Links {
	margin-top: 2rem;
}

.Links a {
	margin-right: 1rem;
}

.Links button {
	font-size: 1.2rem;
	border-radius: 0.25rem;
}

.Links button:hover {
	transform: translateY(-2px);
}
